<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <h3 class="mt-2 text-sm text-center text-gray-500">
      <b>Clique para enviar</b>
    </h3>

    <p class="mt-1 text-sm text-gray-500">
      Tamanho máximo: 30MB
    </p>

    <div class="mt-6">
      <%= form.file_field :images, accept: "image/jpg, image/jpeg, image/png", class: "hidden", id: "file-upload", data: { previews_target: "input", action: "change->previews#preview" }, direct_upload: true, multiple: true %>

      <label for="file-upload" class="inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white  hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.8 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
        </svg>

        Procurar Imagens
      </label>
    </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
